/*---------------------------------------------------
  CUSTOM PROPERTIES
---------------------------------------------------*/

:root {
  --color-primary: #259bf3;
  --color-primary-dark: #007fdd;
  --color-success: #6ac4aa;
  --gray-100: #f5f6fa;
  --gray-200: #e5e9f2;
  --gray-300: #d6ddec;
  --gray-400: #aab3c1;
  --gray-500: #8690a5;
  --gray-600: #576172;
  --gray-700: #3b464c;
  --gray-800: #2d343a;
  --gray-900: #24292d;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  --font-size: 15px;
  --font-size-sm: 14px;
  --font-size-xs: 13px;
  --font-size-lg: 17px;
  --line-height-base: 1.6;
  --toolbar-height: 62px;
  --border-radius: 3px;
}
  
  
/*---------------------------------------------------
  GENERAL
---------------------------------------------------*/
  
* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  color: var(--gray-600);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size);
  line-height: var(--line-height-base);
}

svg {
  vertical-align: sub;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 300;
}

a {
  color: var(--gray-900);
  text-decoration: none;
  transition: all 0.25s;
  border-bottom: 1px dotted var(--gray-500);
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

a:hover,
a:focus,
a:active {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

a.no-border {
  border-bottom: none;
}


/*---------------------------------------------------
  SCROLLS
---------------------------------------------------*/

.app-content::-webkit-scrollbar {
  width: 12px;
}

.app-content::-webkit-scrollbar-track {
  border-left: 1px solid var(--gray-200);
  background: white;
  border-radius: 0;
}

.app-content::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #b0bdd1; 
  box-shadow: inset 1px 0 0 var(--gray-200), inset 2px 0 0 white;
  border-right: 1px solid white;
  transition: all 0.25s;
}

.app-content::-webkit-scrollbar-thumb:window-inactive {
  background: #c3cbd8;
}


/*---------------------------------------------------
  MODALS
---------------------------------------------------*/

.modal {
  padding: 10px 30px 30px 30px;
}
    
    
/*---------------------------------------------------
  FORMS
---------------------------------------------------*/
    
.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  display: block;
  color: var(--gray-900);
  font-size: var(--font-size-xs);
}

.form-item {
  padding: 7px 10px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--gray-200);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  transition: all 0.3s;
}

.form-item:focus {
  border-color: var(--color-primary);
}
    
    
/*---------------------------------------------------
  BUTTONS
---------------------------------------------------*/
    
.button {
  padding: 11px 30px 12px;
  display: inline-block;
  font-size: var(--font-size-xs);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  line-height: 1.2;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  transition: all 0.3s;
}

/* primary button */

.primary-button {
  background-color: var(--color-primary);
  color: #fff;
}
.primary-button:hover,
.primary-button:active,
.primary-button:focus {
  background-color: var(--color-primary-dark);
}

.primary-button:focus {
  box-shadow: 0 0 0 3px rgba(37, 155, 243, 0.5);
}

/* secondary button */

.secondary-button {
  background-color: var(--gray-300);
}
.secondary-button:hover,
.secondary-button:active,
.secondary-button:focus {
  background-color: var(--gray-400);
}

.secondary-button:focus {
  box-shadow: 0 0 0 3px var(--gray-200);
}
  
  
/*---------------------------------------------------
  ANIMATIONS
  Credits: https://github.com/daneden/animate.css
---------------------------------------------------*/
  
/* Base */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* Slide In Right */
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}
  
  
/*---------------------------------------------------
  APP CONTENT
---------------------------------------------------*/
  
.app-content {
  margin-top: var(--toolbar-height);
  background-color: var(--gray-100);
  height: calc(100vh - var(--toolbar-height));
  overflow-x: hidden;
}

/* Placeholder */
.placeholder {
  padding: 100px;
  color: var(--gray-400);
  text-align: center;
  font-size: var(--font-size-lg);
  font-weight: 300;
}

.placeholder .logo {
  margin-bottom: 50px;
  fill: var(--gray-300);
}

.placeholder h1 {
  color: var(--gray-900);
  font-size: 30px;
}

.placeholder-text {
  margin-bottom: 50px;
}
  
  
/*---------------------------------------------------
  TOOLBAR
---------------------------------------------------*/
  
.app-toolbar {
  width: 100%;
  height: var(--toolbar-height);
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid var(--gray-700);
  background-color: var(--gray-900);
  font-size: var(--font-size-sm);
  color: var(--gray-400);
  z-index: 1;
}

.app-toolbar > * {
  border-right: 1px solid var(--gray-700);
}

.app-toolbar div:last-child {
  border-right-width: 0;
}

/* Filter Input */

.app-toolbar .filter {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.app-toolbar .filter input {
  padding: 0 60px 0 20px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: var(--font-size-sm);
  color: #fff;
  transition: background-color 0.25s;
}

.app-toolbar .filter input::-webkit-input-placeholder {
  color: var(--gray-500);
}

.app-toolbar .filter input:focus {
  background-color: var(--gray-800);
}

.app-toolbar .filter a {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Notifications Switch */

.app-toolbar .notifications {
  flex: 0 0 160px;
  margin-left: auto;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: var(--gray-400);
}

.app-toolbar .notifications:hover {
  background-color: var(--gray-800);
}

.app-toolbar .notifications input {
  display: none;
}

.switch {
  margin-left: 10px;
  width: 36px;
  height: 20px;
  position: relative;
  border-radius: 50px;
  background-color: var(--gray-500);
  user-select: none;
}

.switch:after {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50px;
  background-color: var(--gray-900);
  transition: all 0.25s;
  content: "";
}

input[type="checkbox"]:checked + .switch {
  background-color: var(--color-success);
}

input[type="checkbox"]:checked + .switch:after {
  left: 18px;
}

/* Play/Pause Button */

.app-toolbar .play-pause {
  flex: 0 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.app-toolbar .play-pause button {
  width: 100%;
  height: 100%;
  user-select: none;
  background-color: transparent;
  border: none;
  color: var(--gray-400);
  transition: background-color 0.25s;
}
  
.app-toolbar .play-pause button:hover {
  background-color: var(--gray-800);
}

.app-toolbar .play-pause button svg {
  margin-right: 7px;
  fill: var(--gray-400);
}

.app-toolbar .play-pause button.pause {
  color: var(--color-success); 
}

.app-toolbar .play-pause button.pause svg {
  fill: var(--color-success);
}

  
/*---------------------------------------------------
  TWEET CARD
---------------------------------------------------*/
  
.tweet-card {
  padding: 25px 20px;
  display: flex;
  border-bottom: 1px solid var(--gray-200);
  background-color: #fff;
  cursor: default;
  transition: all 0.35s;
}

.tweet-card .avatar {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  display: block;
  flex: 0 0 48px;
}

.tweet-content {
  padding-left: 20px;
}

.tweet-card .username {
  margin-bottom: 7px;
  color: var(--gray-900);
  font-weight: 500;
}
  
.tweet-card .username .istweeting {
  color: var(--gray-400);
  font-size: var(--font-size-xs);
  margin-left: 3px;
}
