/**
 * Widgetoko Light Theme
 */


/*---------------------------------------------------
  GENERAL
---------------------------------------------------*/

body {
  color: var(--gray-800);
}


a {
  color: var(--gray-900);
  border-bottom: 1px dotted var(--gray-500);
}

a:hover,
a:focus,
a:active {
  color: var(--color-primary);
  border-color: var(--color-primary);
}


/*---------------------------------------------------
  SCROLLS
---------------------------------------------------*/

.app-content::-webkit-scrollbar-track {
  border-left: 1px solid var(--gray-200);
  background: white;
}

.app-content::-webkit-scrollbar-thumb {
  background: #b0bdd1; 
  box-shadow: inset 1px 0 0 var(--gray-200), inset 2px 0 0 white;
  border-right: 1px solid white;
}

.app-content::-webkit-scrollbar-thumb:window-inactive {
  background: #c3cbd8;
}


/*---------------------------------------------------
  FORMS
---------------------------------------------------*/
  
label {
  color: var(--gray-900);
}

.form-item:focus {
  border-color: var(--color-primary);
}


/*---------------------------------------------------
  APP CONTENT
---------------------------------------------------*/

.app-content {
  background-color: var(--gray-100);
}

/* Placeholder */
.placeholder {
  color: var(--gray-400);
}

.placeholder .logo {
  fill: var(--gray-300);
}

.placeholder h1 {
  color: var(--gray-900);
}


/*---------------------------------------------------
  TOOLBAR
--------------------------------------------------*/

.app-toolbar {
  border-bottom-color: var(--gray-900);
  background-color: var(--gray-900);
  color: var(--gray-400);
}

.app-toolbar > * {
  border-color: var(--gray-700);
}

/* Filter Input */

.app-toolbar .filter input {
  background-color: transparent;
  color: #fff;
}

.app-toolbar .filter input::-webkit-input-placeholder {
  color: var(--gray-500);
}

.app-toolbar .filter input:focus {
  background-color: var(--gray-800);
}

/* Notifications Switch */

.app-toolbar .notifications {
  color: var(--gray-400);
}

.app-toolbar .notifications:hover {
  background-color: var(--gray-800);
}

.switch {
  background-color: var(--gray-500);
}

.switch:after {
  background-color: var(--gray-900);
}

input[type="checkbox"]:checked + .switch {
  background-color: var(--color-success);
}

/* Play/Pause Button */

.app-toolbar .play-pause button {
  color: var(--gray-400);
}

.app-toolbar .play-pause button:hover {
  background-color: var(--gray-800);
}

.app-toolbar .play-pause button svg {
  fill: var(--gray-400);
}

.app-toolbar .play-pause button.pause {
  color: var(--color-success); 
}

.app-toolbar .play-pause button.pause svg {
  fill: var(--color-success);
}


/*---------------------------------------------------
  TWEET CARD
---------------------------------------------------*/

.tweet-card {
  border-color: var(--gray-200);
  background-color: #fff;
}

.tweet-card .username {
  color: var(--gray-900);
}

.tweet-card .username .istweeting {
  color: var(--gray-400);
}
